[submodule "reference/ai"]
	path = reference/ai
	url = git@github.com:vercel/ai.git
[submodule "reference/assitant-ui"]
	path = reference/assitant-ui
	url = git@github.com:assistant-ui/assistant-ui.git
[submodule "reference/browser-use"]
	path = reference/browser-use
	url = git@github.com:upwindchange/browser-use.git
[submodule "reference/p-queue"]
	path = reference/p-queue
	url = https://github.com/sindresorhus/p-queue.git
[submodule "reference/langchainjs"]
	path = reference/langchainjs
	url = git@github.com:langchain-ai/langchainjs.git
[submodule "reference/electron-vite-docs"]
	path = reference/electron-vite-docs
	url = git@github.com:alex8088/electron-vite-docs.git
[submodule "reference/electron-vite"]
	path = reference/electron-vite
	url = git@github.com:alex8088/electron-vite.git
[submodule "reference/langfuse-docs"]
	path = reference/langfuse-docs
	url = git@github.com:langfuse/langfuse-docs.git
[submodule "reference/langchain-docs"]
	path = reference/langchain-docs
	url = https://github.com/langchain-ai/docs
