@import "tailwindcss";
@import "tw-animate-css";
@import "tw-shimmer";

@source "../../node_modules/streamdown/dist/*.js";
@source "../../node_modules/@streamdown/code/dist/*.js";
@source "../../node_modules/@streamdown/mermaid/dist/*.js";
@source "../../node_modules/@streamdown/math/dist/*.js";
@source "../../node_modules/@streamdown/cjk/dist/*.js";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-shimmer: shimmer-sweep var(--shimmer-duration, 1000ms) linear
    infinite both;
  @keyframes shimmer-sweep {
    from {
      background-position: 150% 0;
    }
    to {
      background-position: -100% 0;
    }
  }
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(
        --radix-accordion-content-height,
        var(--accordion-panel-height, auto)
      );
    }
  }
  @keyframes accordion-up {
    from {
      height: var(
        --radix-accordion-content-height,
        var(--accordion-panel-height, auto)
      );
    }
    to {
      height: 0;
    }
  }
  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(
        --radix-collapsible-content-height,
        var(--collapsible-panel-height, auto)
      );
    }
  }
  @keyframes collapsible-up {
    from {
      height: var(
        --radix-collapsible-content-height,
        var(--collapsible-panel-height, auto)
      );
    }
    to {
      height: 0;
    }
  }
  --font-sans: Inter, sans-serif;
  --font-mono: monospace;
  --font-serif: Georgia, serif;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6)
;
  --radius: 0.5rem}

:root {
  --radius: 0.75rem;
  --background: oklch(0.9680 0.0059 239.8195);
  --foreground: oklch(0.3098 0.0748 248.9089);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3098 0.0748 248.9089);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3098 0.0748 248.9089);
  --primary: oklch(0.7347 0.1447 228.9136);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3098 0.0748 248.9089);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9352 0.0412 217.6616);
  --muted-foreground: oklch(0.4186 0.0765 246.7831);
  --accent: oklch(0.9352 0.0412 217.6616);
  --accent-foreground: oklch(0.3098 0.0748 248.9089);
  --destructive: oklch(0.5014 0.2027 23.8197);
  --border: oklch(0.8761 0 0);
  --input: oklch(0.8761 0 0);
  --ring: oklch(0.3098 0.0748 248.9089);
  --chart-1: oklch(0.3098 0.0748 248.9089);
  --chart-2: oklch(0.7347 0.1447 228.9136);
  --chart-3: oklch(0.8353 0.0553 213.7694);
  --chart-4: oklch(0.9630 0.0296 94.3436);
  --chart-5: oklch(0.4694 0.0568 228.3984);
  --sidebar: oklch(0.3098 0.0748 248.9089);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.7347 0.1447 228.9136);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.4186 0.0765 246.7831);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.4186 0.0765 246.7831);
  --sidebar-ring: oklch(0.7080 0 0);
  --destructive-foreground: oklch(0.9340 0.0315 5.5116);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Inter, ui-sans-serif, sans-serif, system-ui;
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0;
  --shadow-blur: 0px;
  --shadow-spread: -50px;
  --shadow-offset-x: -50px;
  --shadow-offset-y: -50px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: -50px -50px 0px -50px hsl(0 0% 0% / 0.00);
  --shadow-xs: -50px -50px 0px -50px hsl(0 0% 0% / 0.00);
  --shadow-sm: -50px -50px 0px -50px hsl(0 0% 0% / 0.00), -50px 1px 2px -51px hsl(0 0% 0% / 0.00);
  --shadow: -50px -50px 0px -50px hsl(0 0% 0% / 0.00), -50px 1px 2px -51px hsl(0 0% 0% / 0.00);
  --shadow-md: -50px -50px 0px -50px hsl(0 0% 0% / 0.00), -50px 2px 4px -51px hsl(0 0% 0% / 0.00);
  --shadow-lg: -50px -50px 0px -50px hsl(0 0% 0% / 0.00), -50px 4px 6px -51px hsl(0 0% 0% / 0.00);
  --shadow-xl: -50px -50px 0px -50px hsl(0 0% 0% / 0.00), -50px 8px 10px -51px hsl(0 0% 0% / 0.00);
  --shadow-2xl: -50px -50px 0px -50px hsl(0 0% 0% / 0.00);
  --tracking-normal: 0em;
}


.dark {
  --background: oklch(0.1776 0 0);
  --foreground: oklch(0.7905 0.0126 259.8241);
  --card: oklch(0.2638 0.0024 247.9155);
  --card-foreground: oklch(0.9755 0.0045 258.3245);
  --popover: oklch(0.3046 0.0023 247.9001);
  --popover-foreground: oklch(0.9176 0.0026 228.7865);
  --primary: oklch(0.6576 0.1208 252.0832);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9774 0.0042 236.4961);
  --secondary-foreground: oklch(0.3046 0.0023 247.9001);
  --muted: oklch(0.2171 0.0025 247.9411);
  --muted-foreground: oklch(0.7559 0.0125 239.9659);
  --accent: oklch(0.2038 0.0067 258.3676);
  --accent-foreground: oklch(0.9590 0.0059 239.8204);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.3506 0.0066 248.0169);
  --input: oklch(0.4217 0.0084 248.0280);
  --ring: oklch(0.6576 0.1208 252.0832);
  --chart-1: oklch(0.5098 0.1320 257.5458);
  --chart-2: oklch(0.7360 0.1191 266.5038);
  --chart-3: oklch(0.2038 0.0067 258.3676);
  --chart-4: oklch(0.3361 0.0333 253.9085);
  --chart-5: oklch(0.4893 0.1504 261.9302);
  --sidebar: oklch(0.2344 0.0024 247.9303);
  --sidebar-foreground: oklch(0.7905 0.0126 259.8241);
  --sidebar-primary: oklch(0.3250 0 0);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.1673 0.0016 196.9991);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.7731 0 0);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.5rem;
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.3;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: -0.01em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.15);
  --shadow-xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.15);
  --shadow-sm: 0px 4px 8px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow: 0px 4px 8px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow-md: 0px 4px 8px 0px hsl(0 0% 0% / 0.30), 0px 2px 4px -1px hsl(0 0% 0% / 0.30);
  --shadow-lg: 0px 4px 8px 0px hsl(0 0% 0% / 0.30), 0px 4px 6px -1px hsl(0 0% 0% / 0.30);
  --shadow-xl: 0px 4px 8px 0px hsl(0 0% 0% / 0.30), 0px 8px 10px -1px hsl(0 0% 0% / 0.30);
  --shadow-2xl: 0px 4px 8px 0px hsl(0 0% 0% / 0.75);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

@custom-variant data-open (&:where([data-state="open"], [data-open]:not([data-open="false"])));

@custom-variant data-closed (&:where([data-state="closed"], [data-closed]:not([data-closed="false"])));